

body {
	
    background-attachment: fixed;
    background-size: cover;
	display: flex;
	min-height: 100vh;


d:nth-child(odd){
  background:  #0000FF;
}
p:nth-child(odd){
  background: #999999;
}
p:nth-child(2){
  background: #999789;
}
p:nth-child(3){
  background: #999988;
}
p:nth-child(4){
  background: #999977; "asigna colores al texto"

p:nth-child(5){
  background: #999977; "asigna colores al texto"
}
}

*{
  margin: 0px;"une la letras"
round-color: #FDFFCE;
}round-color: #FDFFCE;
}

.boton {
text-decoration: none;
 color: #fff;
 font-weight: bold;
 padding: 12px 20px;
 font-size: 18px;
 border-radius: 10px;
 background-color: #666666;
 box-shadow: 0 5px 5px #313131, 0 9px 0 #393939, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 9px rgba(255,255,255,0.2), inset 0 -2px 9px rgba(0,0,0,0.2);
 position: relative;
 border-bottom: 1px solid rgba(255,255,255,0.2);
 display: inline-block;
 font-family: Arial, Helvetica, sans;
 text-shadow: 0px -1px 0px rgba(0,0,0,0.2);
}

.boton:hover {
 box-shadow: 0 5px 5px #313131, 0 9px 0 #393939, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 15px rgba(255,255,255,0.4), inset 0 -2px 9px rgba(0,0,0,0.2);
 color: #fff !important;
}



